template(name='home')
    .ui.header juntos
    p
        |Vulcan is a Web Application that connects, educates, and develops students for Career
        |and Technical Education related Industries. This app will serve to aid CTE Educators in
        |managing their students by communicating with Business Partners, tracking student
        |data/internships, and organizing Business Partner portfolios and success. Additionally,
        |students will be able to search for careers, build a living resume portfolio, and manage
        |their education/career development through calendar and checklist capabilities. Lastly,
        |businesses will be able to post jobs, use helpful onboarding/internship tools, and track
        |fiscal progress by filling positions and fulfilling yearly goals.
