template(name='cart')
    .ui.stackable.padded.grid
        .one.column.row
            .column
                .ui.center.aligned.header 
                    i.shopping.cart.icon
                    |shopping cart
        .row 
            .twelve.wide.column
                each cart_items
                    .ui.segment
                        .ui.header #{product.title} hi
                        .meta 
                            |added #{when}
                        .ui.icon.button(title='remove cart item')
                            i.remove.icon
            .four.wide.column
                .ui.segment 
                    .ui.small.header cart item count
