template(name='user_messages')
    //- .ui.center.aligned.header 
    //-     +icolor name='chat'
    //-     |user messages
    if currentUser
        .ui.fluid.icon.input
            i.plus.icon
            input.new_message(type='text' placeholder='new message...')
    each user_messages
        .ui.segment
            .ui.small.header #{body}
            div
            +user_list_toggle key='read_by_ids' label='mark read' icon='eye'
            if can_edit
                +remove_button
            div
            +author_info
            +creation_info
